:root {
  --qw-colors-color-primary: #006ce9;
  --qw-colors-color-secondary: #18b6f6;
  --qw-colors-color-tertiary: #ac7ff4;
  --qw-colors-color-danger: #e51029;
  --qw-colors-color-success: #008535;
  --qw-colors-color-neutral-01-main: #121417;
  --qw-colors-color-neutral-01-80: #333;
  --qw-colors-color-neutral-01-50: #666;
  --qw-colors-color-neutral-01-05: #f6f6f6;
  --qw-colors-color-neutral-02-main: #89949e;
  --qw-colors-color-neutral-02-30: #d0d5d9;
  --qw-colors-color-neutral-02-20: #e6e9ec;
  --qw-colors-color-neutral-03-main: #fff;
  --qw-colors-color-primary-gradient-a: linear-gradient(90deg, #2da3d0 0%, #006085 100%);
  --qw-colors-color-secondary-gradient-b: linear-gradient(90deg, #2da3d0 0%, #007eae 100%);
  --qw-colors-color-tertiary-gradient-c: linear-gradient(90deg, #007eae 0%, #006085 100%);
  --qw-colors-color-danger-gradient-d: linear-gradient(90deg, #fff 0%, #f6f6f6 100%);
  --qw-colors-color-success-gradient-d: linear-gradient(90deg, #fff 0%, #f6f6f6 100%);
}
